@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Readex Pro');

:root {
    --primary: #495057;
    --primary-dark: #212529;
    --secondary: #343A40;
    --light: #DEE2E6;      
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #DEE2E6;
}

/* header */



/* menu */
.menu_container {
    height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.menu_container .title {
    width: auto;
    margin: auto;
    color: #F8F9FA;
}

.menu_container .title h2 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

/* category buttons */
.content .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content .list li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #F8F9FA;
    margin: 10px 0px 0px;
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: #212529;
    border-radius: 25px;
    width: 160px;
    height: 45px;
    line-height: 33px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding: 6px 8px 6px 16px;
}

.content .list li:hover {
    cursor: pointer;
    background-color: #495057;
}

/* categories */
.menu_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, auto));
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    justify-items: center;
    
}

.box {
    width: 180px/*220px*/;
    height: 315px/*335px*/;
    margin-top: 40px;
    background: #EEEEEE;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    
}

.box .box_img {
    width: auto;
    text-align: center;
}

.box_img img {
    width: 150px;
    height: 150px;
}

.box .text {
    text-align: center;
    width: 100%;       
}

.text .text-info {    
    height: 50px;
}

.text p {    
    display: inline;
    margin:0;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;    
    color: #000000;    
}

.text .text_long {
    font-size: 20px;
}

.text section {
    /*height: 25px;*/    
    margin-bottom: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    /*line-height: 25px;
    padding-top:5px;*/
    color: #000000;
}

form .text a {
    width: fit-content;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #2C2A3A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15   px;
    color: #ffffff;
    padding-top:10px;
}

form .text a:hover {
    cursor: pointer;
    background-color: #495057;
}


/************************************/

.left1 {
    margin-left: 8vw;
  }
  
  .image1 {      
    height: auto; 
    width:auto; 
    margin-right:calc(-150px + -11vw);
    margin-top:2vw;
  }
  
  .image1 > img {
    max-height: 700px;
    min-height: 500px;
    min-width: 700px;
  }
  
  h1 {
    color: var(--secondary);
    font-family: 'Readex Pro';
    font-style: bold;
    font-weight: 780;
    font-size: calc(35px + 3vw);
    letter-spacing: .5px;
  }
  
  .emoji1 {
    font-size: calc(15px + 2.5vw);
  }
  
  .text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #757575;
    padding: 20px 0;
    max-width: 400px;  
  }
  
  .cta .btn, .button1, form a, .btnAddToCart {
    background-color: var(--primary);
    border: none;  
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
  }

  .cta .btn:hover,.button1:hover, form a:hover, .btnAddToCart {
    background: var(--primary);
    color: #ffffff;
    background-color: var(--primary-dark);
  }
  
  .pt-100 {
    padding-top:100px;
  }
  
  .ml {
    margin-left:100px;
  }
  
 